<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="/header">
    <title>行业风险清单</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>行业风险清单</h5>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-2 col-sm-3">
                                    <div class="panel panel-default">
                                        <div id="toolbartree" class="btn-group">						
											<button class="btn btn-sm btn-primary" type="submit" id="btn_add_tree" onclick="btn_add_tree()"><i class="fa fa-info"></i>添加</button>					 
											<button class="btn btn-sm btn-info" type="submit" id="btn_edit_tree" onclick="btn_edit_tree()"><i class="fa fa-edit"></i>修改</button>										
											<button class="btn btn-sm btn-danger" type="submit" id="btn_delete_tree" onclick="btn_delete_tree()"><i class="fa fa-cut"></i>删除</button>				 
										</div>	
                                        <div class="panel-body dept-tree">
                                            <ul id="dataTree" class="ztree"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-sm-9">                                   
                                    <div class="hidden-xs" id="managerTableToolbar" role="group">
                                        <button class="btn btn-sm btn-primary" type="submit" onclick="MgrUser.openAddMgr()">
                                            <i class="fa fa-pencil"></i>添加</button>
                                        <button class="btn btn-sm btn-info" type="submit" onclick="MgrUser.openChangeUser()">
                                            <i class="fa fa-paste"></i>修改</button>
                                        <button class="btn btn-sm btn-danger" type="submit" onclick="MgrUser.delMgrUser()">
                                            <i class="fa fa-cut"></i>删除</button>
                                        <button class="btn btn-sm btn-success" type="submit" id="btn_download" onclick="btn_download()"><i class="fa fa-file-excel-o"></i>模板下载</button>
										<button class="btn btn-sm btn-info" type="submit" id="ctlBtn" onclick="btn_upload()"><i class="fa fa-file"></i>文件上传</button> 
                                    </div>
                                    <table id="managerTable" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="/footer"></div>
    <script type="text/javascript" th:inline="javascript">
       var nodeId;
       var tId;
       var level=0;
       var isParent=true;
    
       /**
       	*静态风险--行业风险清单的单例对象
       	*/
      var MgrUser = {
    		 id: "managerTable", //表格id
    		 seItem:null, // 选中的条目
    		 table:null,
    		 layerIndex: -1,
    		 deptid: 0
       }; 
       
       
       /**
        *初始化表格的列
        */
      MgrUser.initColumn = function () {
    	   var columns = [
    		   { field: 'selectItem', radio: true},
    		   { title: '编号', field: 'id', visible: false, align: 'center', valign: 'middle'},
    		   { title: '编码', field: 'code', align: 'center', valign: 'middle', sortable: true},
    		   { title: '风险点', field: 'pathName', align: 'center', valign: 'middle', sortable: true},
    		   { title: '风险类型', field: 'riskType', align: 'center', valign: 'middle', sortable: true},
    	   	   { title: '造成的后果', field: 'riskResult', align: 'center', valign: 'middle', sortable: true},
    	   	   { title: '发生概率', field: 'riskProbability', align: 'center', valign: 'middle', sortable: true},
    	   	   { title: '严重程度', field: 'riskDegree', align: 'center', valign: 'middle', sortable: true},
    	   	   { title: '风险度', field: 'riskDeep', align: 'center', valign: 'middle', sortable: true},
    	   	   { title: '风险级别', field: 'riskLevel', align: 'center', valign: 'middle', sortable: true, formatter: function(){
    	   		   		switch(value){
    	   		   			case 1:	
    	   		   				return '重大风险';
    	   		   			case 2:
    	   		   				return '较大风险';
    	   		   			case 3:
    	   		   				return '一般风险';
    	   		   			case 4:
    	   		   				return '低风险';
    	   		   		}
    	   	   }},
    	   	   { title: '管控措施', field: 'measures', align: 'center', valign: 'middle', sortable: true},
    	   	   { title: '备注', field: 'memo', align: 'center', valign: 'middle', sortable: true},
    	   	   { title: '更新时间',field: 'updateTime', align: 'center', valign: 'middle', sortable: true}];
    	   return columns;
       };
       
       /**
        *检查是否选中
        */
       MgrUser.check = function(){
    	   var selected = $('#' + this.id).bootstrapTable('getSelections');
      		if(selected.length == 0){
      			hdw.info("请先选中表格中的某一记录");
      			return false;
      		}else{
      			MgrUser.seItem = selected[0];
      			return true;
      		}     
       };
       
       $(function(){
    	  var defaultColunms = MgrUser.initColumn();
    	  var table = new BSTable("managerTable", basePath + "riskListClassify/dataGrid", defaultColunms);
    	  table.setPaginationType("server");
    	  MgrUser.table = table.init();//表格初始化  
       });
       
       
       
       
       
       
    
       
   
       
    </script>
</body>

</html>