<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdw.enterprise.mapper.EnterpriseMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdw.enterprise.entity.Enterprise" >
        <result column="id" property="id" />
        <result column="prefix" property="prefix" />
        <result column="business_license_number" property="businessLicenseNumber" />
        <result column="enterprise_code" property="enterpriseCode" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="industry_code" property="industryCode" />
        <result column="area_code" property="areaCode" />
        <result column="enterprise_type" property="enterpriseType" />
        <result column="telephone" property="telephone" />
        <result column="email" property="email" />
        <result column="zip_code" property="zipCode" />
        <result column="legal_person" property="legalPerson" />
        <result column="main_person" property="mainPerson" />
        <result column="main_person_mobile" property="mainPersonMobile" />
        <result column="main_person_telephone" property="mainPersonTelephone" />
        <result column="safe_person" property="safePerson" />
        <result column="safe_person_mobile" property="safePersonMobile" />
        <result column="safe_person_telephone" property="safePersonTelephone" />
        <result column="map_x" property="mapX" />
        <result column="map_y" property="mapY" />
        <result column="map_z" property="mapZ" />
        <result column="address" property="address" />
        <result column="is_sync" property="isSync" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 多表页面信息查询 -->
    <select id="selectEnterprisePage" parameterType="map" resultType="map">
        SELECT DISTINCT
        t.id,
        t.prefix,
        t.business_license_number AS businessLicenseNumber,
        t.enterprise_code AS enterpriseCode,
        t.enterprise_name AS enterpriseName,
        t.industry_code AS industryCode,
        t.area_code AS areaCode,
        t.enterprise_type AS enterpriseType,
        t.telephone,
        t.email,
        t.zip_code AS zipCode,
        t.legal_person AS legalPerson,
        t.main_person AS mainPerson,
        t.main_person_mobile AS mainPersonMobile,
        t.main_person_telephone AS mainPersonTelephone,
        t.safe_person AS safePerson,
        t.safe_person_mobile AS safePersonMobile,
        t.safe_person_telephone AS safePersonTelephone,
        t.map_x AS mapX,
        t.map_y AS mapY,
        t.map_z AS mapZ,
        t.address AS address,
        t.is_sync AS isSync,
        t.`status`,
        t.create_time AS createTime,
        t.update_time AS updateTime,
        t.create_user AS createUser,
        t.update_user AS updateUser,
        t4.var_name AS areaName,
        t5.var_name AS industryName
        FROM
        t_enterprise t
        LEFT JOIN t_sys_user t2 ON t.id = t2.enterprise_id
        LEFT JOIN t_sys_user_enterprise t3 ON t2.id = t3.user_id
        LEFT JOIN t_sys_dic t4 ON t.area_code = t4.id
        LEFT JOIN t_sys_dic t5 ON t.industry_code = t5.id
        <where>
            <if test="params.enterpriseId!=null and params.enterpriseId!=''">
                t.id=#{params.enterpriseId}
            </if>
            <if test="params.enterpriseCode!=null and params.enterpriseCode!=''">
                and t.enterprise_code=#{params.enterpriseCode}
            </if>
            <if test="params.enterpriseType!=null and params.enterpriseType!=''">
                and t.enterprise_type=#{params.enterpriseType}
            </if>
            <if test="params.enterpriseName!=null and params.enterpriseName!=''">
                and t.enterprise_name like '%${params.enterpriseName}%'
            </if>
            <if test="params.areaCode!=null and params.areaCode!=''">
                and t.area_code=#{params.areaCode}
            </if>
            <if test="params.industryCode!=null and params.industryCode!=''">
                and t.industry_code=#{params.industryCode}
            </if>
            <if test="params.userId!=null and params.userId!=''">
                and t2.id=#{params.userId}
            </if>
        </where>
    </select>

    <!-- 多表信息查询 -->
    <select id="selectEnterpriseList" parameterType="map" resultType="map">
        SELECT DISTINCT
        t.id,
        t.prefix,
        t.business_license_number AS businessLicenseNumber,
        t.enterprise_code AS enterpriseCode,
        t.enterprise_name AS enterpriseName,
        t.industry_code AS industryCode,
        t.area_code AS areaCode,
        t.enterprise_type AS enterpriseType,
        t.telephone,
        t.email,
        t.zip_code AS zipCode,
        t.legal_person AS legalPerson,
        t.main_person AS mainPerson,
        t.main_person_mobile AS mainPersonMobile,
        t.main_person_telephone AS mainPersonTelephone,
        t.safe_person AS safePerson,
        t.safe_person_mobile AS safePersonMobile,
        t.safe_person_telephone AS safePersonTelephone,
        t.map_x AS mapX,
        t.map_y AS mapY,
        t.map_z AS mapZ,
        t.address AS address,
        t.is_sync AS isSync,
        t.`status`,
        t.create_time AS createTime,
        t.update_time AS updateTime,
        t.create_user AS createUser,
        t.update_user AS updateUser,
        t4.var_name AS areaName,
        t5.var_name AS industryName
        FROM
        t_enterprise t
        LEFT JOIN t_sys_user t2 ON t.id = t2.enterprise_id
        LEFT JOIN t_sys_user_enterprise t3 ON t2.id = t3.user_id
        LEFT JOIN t_sys_dic t4 ON t.area_code = t4.id
        LEFT JOIN t_sys_dic t5 ON t.industry_code = t5.id
        <where>
            <if test="params.enterpriseId!=null and params.enterpriseId!=''">
                t.id=#{params.enterpriseId}
            </if>
            <if test="params.enterpriseCode!=null and params.enterpriseCode!=''">
                and t.enterprise_code=#{params.enterpriseCode}
            </if>
            <if test="params.enterpriseType!=null and params.enterpriseType!=''">
                and t.enterprise_type=#{params.enterpriseType}
            </if>
            <if test="params.enterpriseName!=null and params.enterpriseName!=''">
                and t.enterprise_name like '%${params.enterpriseName}%'
            </if>
            <if test="params.areaCode!=null and params.areaCode!=''">
                and t.area_code=#{params.areaCode}
            </if>
            <if test="params.industryCode!=null and params.industryCode!=''">
                and t.industry_code=#{params.industryCode}
            </if>
            <if test="params.userId!=null and params.userId!=''">
                and t2.id=#{params.userId}
            </if>
        </where>
    </select>

    
</mapper>