<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdw.enterprise.mapper.EnterpriseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.hdw.enterprise.entity.Enterprise">
		<id column="id" property="id" />
		<result column="enterprise_name" property="enterpriseName" />
		<result column="industry_code" property="industryCode" />
		<result column="area_code" property="areaCode" />
		<result column="main_person" property="mainPerson" />
		<result column="main_person_mobile" property="mainPersonMobile" />
		<result column="safe_person" property="safePerson" />
		<result column="safe_person_mobile" property="safePersonMobile" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="create_user" property="createUser" />
		<result column="update_user" property="updateUser" />
		<result column="industryName" property="industryName" />
		<result column="areaCode" property="areaCode" />
		<result column="risk_model" property="riskModel" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, enterprise_name AS enterpriseName, devices, industry_cide AS
		industryCide, risk_model AS riskModel, area_code AS areaCode,
		main_person AS mainPerson, main_person_mobile AS mainPersonMobile,
		safe_person AS safePerson, safe_person_mobile AS safePersonMobile,
		create_time AS createTime, update_time AS updateTime, create_user AS
		createUser, update_user AS updateUser
	</sql>

	<!--查询企业信息 -->
	<select id="selectEnterprisePage" parameterType="map"
		resultMap="BaseResultMap">
		SELECT
		DISTINCT a.id,
		a.enterprise_name,
		a.industry_code,
		a.risk_model,
		a.area_code,
		a.main_person,
		a.safe_person,
		a.main_person_mobile,
		a.safe_person_mobile,
		a.create_time,
		a.update_time,
		a.create_user,
		a.update_user,
		a.risk_model,
		t.var_name as industryName,
		t2.var_name as areaName
		FROM
		t_sys_enterprise a
		LEFT JOIN t_sys_dic t on a.industry_code=t.id
		LEFT JOIN t_sys_dic t2 on a.area_code=t2.id
		LEFT JOIN t_sys_user t3 on a.id=t3.enterprise_id
		<where>
			<if test="enterpriseId != nul">
				a.id=${enterpriseId}
			</if>
			<if test="enterpriseName != null and enterpriseName != ''">
				and a.enterprise_name LIKE '%${enterpriseName}%'
			</if>
			<if test="industryCode != null and industryCode != ''">
				AND a.industry_code = #{industryCode}
			</if>
			<if test="areaCode != null and areaCode != ''">
				AND a.area_code = #{areaCode}
			</if>
			<if test="usreId != null">
				AND t3.id = #{usreId}
			</if>
		</where>
	</select>


	<!--根据Id、名称、用户名查询企业信息 -->
	<select id="selectEnterpriseByMap" parameterType="map"
			resultMap="BaseResultMap">
		SELECT
		DISTINCT a.id,
		a.enterprise_name,
		a.industry_code,
		a.area_code,
		a.main_person,
		a.main_person_mobile,
		a.safe_person,
		a.safe_person_mobile,
		a.create_time,
		a.update_time,
		a.create_user,
		a.update_user,
		a.risk_model,
		t.var_name AS industryName,
		t2.var_name AS areaName
		FROM
		t_sys_enterprise a
		LEFT JOIN t_sys_dic t on a.industry_code=t.id
		LEFT JOIN t_sys_dic t2 on a.area_code=t2.id
		LEFT JOIN t_sys_user t3 on a.id=t3.enterprise_id
		<where>
			<if test="enterpriseId != nul">
				a.id=${enterpriseId}
			</if>
			<if test="enterpriseName != null and enterpriseName != ''">
				and a.enterprise_name=#{enterpriseName}
			</if>
			<if test="usreId != null">
				AND t3.id = #{usreId}
			</if>
		</where>
	</select>


	<!--根据Id、名称、行业、区域、用户名查询企业信息 -->
	<select id="selectEnterpriseListByMap" parameterType="map"
		resultMap="BaseResultMap">
		SELECT
		DISTINCT a.id,
		a.enterprise_name,
		a.industry_code,		
		a.area_code,
		a.main_person,
		a.safe_person,
		a.main_person_mobile,
		a.safe_person_mobile,
		a.create_time,
		a.update_time,
		a.create_user,
		a.update_user,
		a.risk_model,
		t.var_name as industryName,
		t2.var_name as areaName
		FROM
		t_sys_enterprise a
		LEFT JOIN t_sys_dic t on a.industry_code=t.id
		LEFT JOIN t_sys_dic t2 on a.area_code=t2.id
		LEFT JOIN t_sys_user t3 on a.id=t3.enterprise_id
		<where>
			<if test="enterpriseId != nul">
				a.id=${enterpriseId}
			</if>
			<if test="enterpriseName != null and enterpriseName != ''">
				and a.enterprise_name LIKE '%${enterpriseName}%'
			</if>
			<if test="industryCode != null and industryCode != ''">
				AND a.industry_code = #{industryCode}
			</if>
			<if test="areaCode != null and areaCode != ''">
				AND a.area_code = #{areaCode}
			</if>
			<if test="usreId != null">
				AND t3.id = #{usreId}
			</if>
		</where>
	</select>


		<!-- 根据多行业查询企业Id -->
	<select id="selectEnterpriseListByIndustryIds" parameterType="map" resultType="map">
		select t.id from t_sys_enterprise t
		where 1 = 1
		<if test="areaId != null and areaId != ''">
			and t.area_code = #{areaId}
		</if>
		<if test="ids != null">
			and t.industry_code in
			<foreach item="industryIds" index="index" collection="ids" open="(" separator="," close=")">
        		#{industryIds}
  			</foreach>
		</if>
	</select>
</mapper>
