<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:include="/header">
    <title>动态风险规则-编辑</title>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <form id="fm" class="form-horizontal"
              data-validator-option="{timely:8, focusCleanup:true, theme:'simple_bottom'}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="hidden" name="id" th:value="${dynamicRiskRule.id}"/>
            <div class="form-group">
                <label class="col-sm-3 control-label">规则类别</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="ruleTypeName"
                           th:value="${dynamicRiskRule.ruleTypeName}" data-rule="规则类别:required;length(2~255)">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">规则名称</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="ruleName" th:value="${dynamicRiskRule.ruleName}"
                           data-rule="规则名称:required;length(2~255)">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">规则参数1</label>
                <div class="col-sm-6">
                    <input type="test" class="form-control" name="parameter1" th:value="${dynamicRiskRule.parameter1}" 
                    	data-rule="规则参数1:required;length(~20)">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">规则参数2</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="parameter2" th:value="${dynamicRiskRule.parameter2}"
                    	data-rule="规则参数2:required;length(~20)">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">基于静态/动态风险值</label>
                <div class="col-sm-6">
                    <select class="form-control" name="riskType">
                        <option value="0" th:if="${dynamicRiskRule.riskType==0}" selected="selected">基于静态风险值</option>
                        <option value="1" th:unless="${dynamicRiskRule.riskType==0}" selected="selected">基于动态风险值</option>
                        <option value="0">基于静态风险值</option>
                        <option value="1">基于动态风险值</option>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">风险乘数</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:value="${dynamicRiskRule.riskLevel}" name="riskLevel">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">运行时间表达式</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:value="${dynamicRiskRule.runScheduler}"  name="runScheduler" data-rule="运行时间表达式:required;length(~20)">
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">保存</button>
                    <button class="btn btn-white" type="reset">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:include="/footer"></div>
<script type="text/javascript" th:inline="javascript">
    $("#fm").validator({
        valid: function (form) {
            var me = this;
            // 提交表单之前，hold住表单，防止重复提交
            me.holdSubmit();
            $.ajax({
                url: basePath + "dynamicRiskRule/edit",
                data: $(form).serialize(),
                type: "POST",
                dataType: 'json',
                success: function (data) {
                    parent.layer.msg(data.msg);
                    if (data.success) {
                        //当你在iframe页面关闭自身时
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        window.parent.location.reload();
                        parent.layer.close(index); //再执行关闭
                    } else {
                        //失败，提交表单成功后，释放hold，如果不释放hold，就变成了只能提交一次的表单
                        me.holdSubmit(false);
                    }
                }
            });
        }
    });
</script>
</body>

</html>