<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:include="/header">
    <title>动态风险计算规则</title>
</head>

<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>动态风险计算规则</h5>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input id="ruleName" placeholder="规则名称"/>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-sm btn-primary"
                                            onclick="DynamicRiskRule.search()">
                                        <i class="fa fa-search">搜索</i>
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-primary"
                                            onclick="DynamicRiskRule.clear()">
                                        <i class="fa fa-fa-trash">重置</i>
                                    </button>
                                </div>
                            </div>
                            <div class="hidden-xs" id="ruleTableToolbar" role="group">
                                <button class="btn btn-sm btn-primary" type="submit"
                                        onclick="DynamicRiskRule.openAddRule()">
                                    <i class="fa fa-pencil"></i>添加
                                </button>
                                <button class="btn btn-sm btn-info" type="submit"
                                        onclick="DynamicRiskRule.openChangeRule()">
                                    <i class="fa fa-paste"></i>修改
                                </button>
                                <button class="btn btn-sm btn-danger" type="submit"
                                        onclick="DynamicRiskRule.delRule()">
                                    <i class="fa fa-cut"></i>删除
                                </button>
                            </div>
                            <table id="ruleTable"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/footer"></div>
<script type="text/javascript" th:inline="javascript">
    /**
     * 动态风险计算规则单例对象
     */
    var DynamicRiskRule = {
        id: "ruleTable",    //表格id
        seItem: null,		//选中的条目
        table: null,
        layerIndex: -1,
    };

    /**
     * 初始化表格的列
     */
    DynamicRiskRule.initColumn = function () {
        var columns = [
            {field: 'selectItem', radio: true},
            {title: 'id', field: 'id', visible: false, align: 'center', valign: 'middle'},
            {title: '规则类别', field: 'ruleTypeName', align: 'center', valign: 'middle', sortable: true},
            {title: '规则名称', field: 'ruleName', align: 'center', valign: 'middle', sortable: true},
            {title: '规则参数1', field: 'parameter1', align: 'center', valign: 'middle', sortable: true},
            {title: '规则参数2', field: 'parameter2', align: 'center', valign: 'middle', sortable: true},
            {
                title: '基于静态/动态风险值',
                field: 'riskType',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: function (value, row, index) {
                    switch (value) {
                        case 0:
                            return '基于静态风险值';
                        case 1:
                            return '基于动态风险值';
                    }
                }
            },
            {title: '风险乘数', field: 'riskLevel', align: 'center', valign: 'middle', sortable: true},
            {title: '运行时间表达式', field: 'runScheduler', align: 'center', valign: 'middle', sortable: true},
            {title: '创建人', field: 'createUser', align: 'center', valign: 'middle', sortable: true},
            {
                title: '创建时间',
                field: 'createTime',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: function (value, row, index) {
                    return hdw.formatDate(value);
                }
            },
            {title: '修改人', field: 'updateUser', align: 'center', valign: 'middle', sortable: true},
            {
                title: '更新时间',
                field: 'updateTime',
                align: 'center',
                valign: 'middle',
                sortable: true,
                formatter: function (value, row, index) {
                    return hdw.formatDate(value);
                }
            }];
        return columns;
    };

    /**
     * 检查是否选中
     */
    DynamicRiskRule.check = function () {
        var selected = $('#' + this.id).bootstrapTable('getSelections');
        if (selected.length == 0) {
            hdw.info("请先选中表格中的某一记录！");
            return false;
        } else {
            DynamicRiskRule.seItem = selected[0];
            return true;
        }
    };

    /**
     * 点击添加计算规则
     */
    DynamicRiskRule.openAddRule = function () {
        var index = layer.open({
            type: 2,
            title: '添加计算规则',
            area: ['600px', '700px'], //宽高
            fix: false, //不固定
            maxmin: true,
            content: basePath + 'dynamicRiskRule/addPage'
        });
        this.layerIndex = index;
    };

    /**
     * 点击修改按钮时
     * @param id id
     */
    DynamicRiskRule.openChangeRule = function () {
        if (this.check()) {
            var index = layer.open({
                type: 2,
                title: '编辑计算规则',
                area: ['600px', '700px'], //宽高
                fix: false, //不固定
                maxmin: true,
                content: basePath + 'dynamicRiskRule/editPage/' + this.seItem.id
            });
            this.layerIndex = index;
        }
    };

    /**
     * 删除计算规则
     */
    DynamicRiskRule.delRule = function () {
        if (this.check()) {
            var operation = function () {
                var ajax = new $ax(basePath + "dynamicRiskRule/delete", function (data) {
                    if (data.success) {
                        hdw.success("删除成功!");
                    } else {
                        hdw.error("删除失败!");
                    }
                    DynamicRiskRule.table.refresh();
                }, function (data) {
                    hdw.error("删除失败!" + data.responseJSON.message + "!");
                });
                ajax.set("id", DynamicRiskRule.seItem.id);
                ajax.start();
            };

            hdw.confirm("是否删除计算规则" + DynamicRiskRule.seItem.ruleName + "?", operation);
        }
    };

    /**
     * 清除
     */
    DynamicRiskRule.clear = function () {
        $("#ruleName").val("");
        DynamicRiskRule.search();
    }

    /**
     * 搜索
     */
    DynamicRiskRule.search = function () {
        var queryData = {};
        queryData['ruleName'] = $("#ruleName").val();
        DynamicRiskRule.table.refresh({query: queryData});
    }


    $(function () {
        var defaultColunms = DynamicRiskRule.initColumn();
        var table = new BSTable(DynamicRiskRule.id, basePath + "dynamicRiskRule/dataGrid", defaultColunms);
        table.setPaginationType("server");
        table.init();
        DynamicRiskRule.table = table;
    });
</script>
</body>

</html>