<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdw.sys.mapper.SysFileMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdw.sys.entity.SysFile" >
        <result column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="record_id" property="recordId" />
        <result column="attachment_group" property="attachmentGroup" />
        <result column="attachment_name" property="attachmentName" />
        <result column="attachment_path" property="attachmentPath" />
        <result column="attachment_type" property="attachmentType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="is_sync" property="isSync" />
    </resultMap>

    <!-- 多表页面信息查询 -->
    <select id="selectSysFilePage" parameterType="map" resultType="map">

    </select>

    <!-- 多表信息查询 -->
    <select id="selectSysFileList" parameterType="map" resultType="map">

    </select>

    
</mapper>