<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdw.upms.mapper.SysResourceMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdw.upms.entity.SysResource" >
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="description" property="description" />
        <result column="icon" property="icon" />
        <result column="seq" property="seq" />
        <result column="resource_type" property="resourceType" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <select id="selectResourceList" parameterType="map" resultMap="BaseResultMap">
        select * from t_sys_resource t
        <where>
            <if test="id!=null and id!=''">
                t.id=#{id}
            </if>
            <if test="parentId!=null and parentId!=''">
                and t.parent_id=#{parentId}
            </if>
            <if test="resourceType!=null and resourceType!=''">
                and t.resource_type=#{resourceType}
            </if>
        </where>
        order by t.seq asc
    </select>

</mapper>