<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdw.upms.mapper.SysRoleResourceMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdw.upms.entity.SysRoleResource" >
        <result column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="resource_id" property="resourceId" />
    </resultMap>

    <delete id="deleteBatch">
        delete from t_sys_role_resource where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <select id="selectResourceNodeListByRoleId" resultType="com.hdw.common.result.SelectTreeNode">
         SELECT
        t2.id,
        t2.`name` AS lebel,
        t2.parent_id
        FROM
            t_sys_role_resource t
        LEFT JOIN t_sys_resource t2 ON t.resource_id = t2.id
        WHERE
            t.role_id = #{roleId}
        AND t2.id NOT IN (
            SELECT DISTINCT
                t2.parent_id
            FROM
                t_sys_role_resource t
            LEFT JOIN t_sys_resource t2 ON t.resource_id = t2.id
            WHERE
                t.role_id = #{roleId}
        )
    </select>
</mapper>