<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="header">
    <title>部门管理-列表</title>
</head>

<body class="gray-bg">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>部门管理</h5>
                </div>
                <div class="ibox-content">
                    <div class="row row-lg">
                        <div class="col-sm-12">
                            <div class="row">
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="deptName" placeholder="部门名称" />
                                    </div>
                                    <!--<div class="col-sm-3">-->
                                        <!--<input type="text" class="form-control" id="deptAddrees" placeholder="部门地址" />-->
                                    <!--</div>-->
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-sm btn-primary" onclick="Dept.search()">
                                            <i class="fa fa-search">搜索</i>
                                        </button>
                                    </div>
                                </div>
                            <div class="hidden-xs" id="DeptTableToolbar" role="group">
                                <button shiro:hasPermission="/organization/add" class="btn btn-sm btn-primary" type="submit" onclick="Dept.openAddDept()">
                                    <i class="fa fa-pencil"></i>添加</button>
                                <button shiro:hasPermission="/organization/edit"  class="btn btn-sm btn-info" type="submit" onclick="Dept.openChangeDept()">
                                    <i class="fa fa-paste"></i>修改</button>
                                <button shiro:hasPermission="/organization/delete"  class="btn btn-sm btn-danger" type="submit" onclick="Dept.delDept()">
                                    <i class="fa fa-cut"></i>删除</button>
                            </div>
                            <table id="DeptTable" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="footer"></div>
    <script type="text/javascript" th:inline="javascript">
        /**
         * 角色管理的单例
         */
        var Dept = {
            id: "DeptTable",	//表格id
            seItem: null,		//选中的条目
            table: null,
            layerIndex: -1
        };

        /**
         * 初始化表格的列
         */
        Dept.initColumn = function () {
            var columns = [
                { field: 'selectItem', radio: true },
                { title: 'id', field: 'id', visible: false, align: 'center', valign: 'middle' },
                { title: '部门名称', field: 'name', align: 'center', valign: 'middle', sortable: true, width: '17%' },
                { title: '部门地址', field: 'address', align: 'center', valign: 'middle', sortable: true, width: '12%' },
                { title: '部门编号', field: 'code', align: 'center', valign: 'middle', sortable: true, width: '15%' },
                { title: '部门父编号', field: 'pid', align: 'center', valign: 'middle', sortable: true },
                { title: '排序', field: 'seq', align: 'center', valign: 'middle', sortable: true },
                { title: '图标', field: 'icon', align: 'center', valign: 'middle', sortable: true },
                {title: '创建时间', field: 'createTime', align: 'center', valign: 'middle', sortable: true},
                {title: '更新时间', field: 'updateTime', align: 'center', valign: 'middle', sortable: true}]
            return columns;
        };


        /**
         * 检查是否选中
         */
        Dept.check = function () {
            var selected = $('#' + this.id).bootstrapTreeTable('getSelections');
            if (selected.length == 0) {
                hdw.info("请先选中表格中的某一记录！");
                return false;
            } else {
                Dept.seItem = selected[0];
                return true;
            }
        };

        /**
         * 点击添加菜单
         */
        Dept.openAddDept = function () {
            var index = layer.open({
                type: 2,
                title: '添加菜单',
                area: ['35%', '90%'], //宽高
                fix: false, //不固定
                maxmin: true,
                content: basePath+ 'organization/addPage'
            });
            this.layerIndex = index;
        };

        /**
         * 点击修改
         */
        Dept.openChangeDept = function () {
            if (this.check()) {
                var index = layer.open({
                    type: 2,
                    title: '修改菜单',
                    area: ['35%', '90%'], //宽高
                    fix: false, //不固定
                    maxmin: true,
                    content: basePath+ 'organization/editPage/' + this.seItem.id
                });
                this.layerIndex = index;
            }
        };

        /**
         * 删除
         */
        Dept.delDept = function () {
            if (this.check()) {
                var operation = function () {
                    var ajax = new $ax(basePath+ "organization/delete", function (data) {
                        if(data.success){
                            hdw.success("删除成功!");
                        }else{
                            hdw.error("删除失败!" + data.msg + "!");
                        }
                        Dept.table.refresh();
                    }, function (data) {
                        hdw.error("删除失败!" + data.responseJSON.message + "!");
                    });
                    ajax.set("deptId", Dept.seItem.id);
                    ajax.start();
                };

                hdw.confirm("是否刪除该菜单?", operation);
            }
        };

        /**
         * 搜索
         */
        Dept.search = function () {
            var queryData = {};
            queryData['deptName'] = $("#deptName").val();
            queryData['deptAdress'] = $("#deptAdress").val();
            Dept.table.refresh({ query: queryData });
        }

        $(function () {
            var defaultColunms = Dept.initColumn();
            var table = new BSTreeTable(Dept.id, basePath + "organization/treeGrid", defaultColunms);
            table.setExpandColumn(2);
            table.setIdField("id");
            table.setCodeField("id");
            table.setParentCodeField("pid");
            table.setExpandAll(true);
            table.init();
            Dept.table = table;
        });

    </script>
</body>

</html>