<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdw.upms.mapper.SysDicMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hdw.upms.entity.SysDic">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="code" property="code" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id AS parentId, name, code
    </sql>
    
    <select id="selectSysDicPage" parameterType="map" resultType="SysDic"> 
    	SELECT <include refid="Base_Column_List"></include>
    	FROM t_sys_enumeration_value t
    	<where>
    		<if test=" id != null ">
    			t.id = #{id}
    		</if>
    		<if test=" name != null and name != '' ">
    			AND t.name LIKE '%${name}%'
    		</if>
    		<if test=" code != null ">
    			AND t.code = #{code}
    		</if>
    		<if test=" parentId != null">
    			AND t.parent_id = #{parentId}
    		</if>
    	</where>
    </select>
    
    <select id="selectSysDicList" parameterType="map" resultType="SysDic">
    	SELECT <include refid="Base_Column_List"></include>
    	FROM t_sys_enumeration_value t
    	<where>
    		<if test=" id != null ">
    			t.id = #{id}
    		</if>
    		<if test=" name != null and name != '' ">
    			AND t.name LIKE '%${name}%'
    		</if>
    		<if test=" code != null and code != '' ">
    			AND t.code = #{code}
    		</if>
    		<if test=" parentId != null">
    			AND t.parent_id = #{parentId}
    		</if>
    	</where>
    </select>
    
    <select id="selectSysDic" parameterType="map" resultType="SysDic">
    	SELECT id, name, code 
    	FROM t_sys_enumeration_value 
    	<where>
    		<if test=" parentId != null">
    			parent_id = #{parentId}
    		</if>
    	</where>
    	ORDER BY code ASC
    </select>

</mapper>
