<!-- 全局js -->
<script th:src="@{'/js/jquery.min.js?v=2.1.4'}"></script>
<script th:src="@{'/js/bootstrap.min.js?v=3.3.6'}"></script>
<script th:src="@{'/js/plugins/metisMenu/jquery.metisMenu.js'}"></script>
<script th:src="@{'/js/plugins/slimscroll/jquery.slimscroll.min.js'}"></script>
<script th:src="@{'/js/plugins/layer/layer.min.js'}"></script>

<!-- 自定义js -->
<script th:src="@{'/js/hplus.js?v=4.1.0'}"></script>
<script type="text/javascript" th:src="@{'/js/contabs.js'}"></script>
<!-- 第三方插件 -->
<script th:src="@{'/js/plugins/pace/pace.min.js'}"></script>
<script th:src="@{'/plugins/nice-validator/jquery.validator.min.js?local=zh-CN'}"></script>
<script th:src="@{'/js/plugins/bootstrap-table/bootstrap-table.min.js'}"></script>
<script th:src="@{'/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js'}"></script>
<script th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/plugins/ztree/js/jquery.ztree.all.min.js}"></script>
<script th:src="@{'/js/plugins/jquery-treegrid/js/jquery.treegrid.min.js'}"></script>
<script th:src="@{'/js/plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js'}"></script>
<script th:src="@{'/js/plugins/jquery-treegrid/extension/jquery.treegrid.extension.js'}"></script>
<script th:src="@{'/js/plugins/layer/layer.min.js'}"></script>
<script th:src="@{'/js/plugins/iCheck/icheck.min.js'}"></script>
<script th:src="@{'/js/plugins/layer/laydate/laydate.js'}"></script>
<script th:src="@{'/js/plugins/webuploader/webuploader.min.js'}"></script>
<script th:src="@{'/js/common/ajax-object.js'}"></script>
<script th:src="@{'/js/common/hdw.js'}"></script>
<script th:src="@{'/js/common/bootstrap-table-object.js'}"></script>
<script th:src="@{'/js/common/tree-table-object.js'}"></script>
<script th:src="@{'/js/common/web-upload-object.js'}"></script>
<script th:src="@{'/js/common/ztree-object.js'}"></script>
<script th:src="@{'/plugins/select2/js/select2.full.min.js'}"></script>
<script th:src="@{'/plugins/select2/js/i18n/zh-CN.js'}"></script>
<script th:src="@{'/js/common/select2-object.js'}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{'/plugins/ueditor/ueditor.config.js'}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{'/plugins/ueditor/ueditor.all.min.js'}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{'/plugins/ueditor/lang/zh-cn/zh-cn.js'}"></script>

